server {
    listen {{ SERVER_PORT }} default_server;
    listen [::]:{{ SERVER_PORT }} default_server ipv6only=on;
    server_name _;

    error_log /var/log/nginx/error.log crit;

    open_file_cache max=200000 inactive=20s;
    open_file_cache_valid 30s;
    open_file_cache_min_uses 2;
    open_file_cache_errors on;

    access_log off;
    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;

    gzip on;
    gzip_min_length 5120;
    gzip_proxied expired no-cache no-store private auth;
    gzip_comp_level 6;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript;
    gzip_disable msie6;

    keepalive_timeout 30;
    keepalive_requests 100000;
    reset_timedout_connection on;
    client_body_timeout 10;
    send_timeout 2;

    client_max_body_size 4G;

    location / {
        autoindex on;    
        alias {{ STATIC }};
    }
}
